body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('background.jpg');
}

.grid {
  width: 300px;
  height: 600px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 30px;
  width: 30px; 
}

#container {
  margin-top: 10vh;
  border: burlywood 7px solid;
  display: flex;
  border-radius: 2%;
}

.tetromino {    
  border: solid 3px;
  border-color: white gray gray white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mini-grid {
  margin: 0px 50px 10px 50px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: darkseagreen;
  border: black 4px double;
}

.mini-grid div {
  height: 30px;
  width: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(132, 181, 209);
}

h2 {
  border: black 4px double;
  padding: 10px 25px 10px 25px;
}

h3 {
  border: black 4px double;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

#start-button {
  position: relative;
  background-color: rgb(177, 153, 223);
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px;
  width: 130px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-top: 15px;
}

#start-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#start-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.intro {  
  width: 75%;  
}

.keyBoard0 {
  display: flex;
  align-items: center;
  justify-content: space-around;  
  margin: 20px 0 20px 0;
}

.keyBoard1 {
  display: flex;
  justify-content: center;  
  margin-top: 10px;
}

.keyBoard2 {  
  display: flex;
  justify-content: center;
  margin: 5px 0px 5px 0px;
}

.keyBoard3 {  
  display: flex;
  justify-content: center;
}

.keyBoard3 div{  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.keyBoard3 p {
  margin-top: 5px;
}

.intro button {
  height: 35px;
  width: 35px;
}

.keyBoard0 button {
  width: 70px;
}

.controller {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  padding: 5px 10px 15px 10px;  
}

@media (max-width: 768px) {
  .info {
    display: none;
  }

  .intro {    
    justify-content: center;
  }
  
  #container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .controller {
    display: none;
  }
}